<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="18.1.1" targetFramework="net461" />
  <package id="bootstrap" version="4.3.1" targetFramework="net461" />
  <package id="jQuery" version="3.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="popper.js" version="1.14.0" targetFramework="net461" />
  <package id="Sendgrid" version="9.11.0" targetFramework="net461" />
  <package id="SmartyStreets.Net" version="1.0.0.0" targetFramework="net461" />
  <package id="smartystreets-dotnet-sdk" version="8.2.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>